<form class="form-horizontal" role="form" ng-submit="updateContact()">
  <!--<div ng-include="'partial/_form.html'"></div>-->
 <div class="form-group">
  <label for="title" class="col-sm-2 control-label"> ID</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Contact.id" class="form-control" id="title" placeholder="Employee ID Here"/>
  </div>
</div>
  <div class="form-group">
  <label for="title" class="col-sm-2 control-label"> Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Contact.name" class="form-control" id="title" placeholder="Employee Name Here"/>
  </div>
</div>

<div class="form-group">
  <label for="director" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Contact.email" class="form-control" id="director" placeholder="Email address"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">Phone</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Contact.phone" class="form-control" id="plot" placeholder="Phone number"/>
  </div>
</div>


<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" id="update" class="btn btn-primary" value="Update"/>
  </div>
</div>
</form>
